*{
    margin:0;
    padding: 0;
}
.header{
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(p1.jpg);
    height: 700px;
    background-position:top;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0b0b;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;   
    padding: 15px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 21px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
/* 2nd part*/
.difference{
    width:80% ;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background:#fff3f3 ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: content-box;
    text-align: left;
    
}

h2{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
    font-size: 40px;
}

.menu{

    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #313030;
    opacity: 1;
    background-size: cover;
    
}

.menu-col{
    flex-basis: 55%;
    background:#313030 ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:10px;
    box-sizing: content-box;
    text-align: left;
}

hr {
    height: 2px;
    background-color: #4309e1;
    border: none;
}

.culnery{
    .row{
        display: flex;
    }
    .column{
        flex: 33%;
        padding: 1px;
    }
}

.team h1{
    padding-top: 100px;
    display: block;
    margin: 0;
    padding-left: 100px;
    font-style:italic;
}
.team p{
    padding-left:100px ;
    font-size: 80px;
    
}

#p1{
    padding-left: 100px;
    padding-top: 20px;
    border-radius: 8px;
    position: relative;
}
#p2{
    padding-left: 100px;
    position: relative;
    top: -150px;
    border-radius: 8px;
}
#p3{
    padding-right: 120px;
    padding-top: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    position: relative;
    top: -100px;
    
}

.testimonials{
    width: 100%;
    height: 400px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(p2.jpg);
    background-position: center;
    background-size: cover;
}

.testimonials img{
    border-radius: 50%;
    border :5px solid #05e305;
    
}
.testimonial-col{
    flex: 33.33%;
    margin: 5px;
    column-gap: 20px;
    background-color: #313030;
    background-size: cover;
    border-radius: 10%;
    height: 250px;
    column-gap: 40px;
    column-rule : 4px double rgb(6, 145, 232) ;
}


.cta{
    margin: 100px auto;
    width: 80%;
    text-align: center;
    padding: 40px 0;

}
.cta-bt{
    background-color: rgb(6, 145, 232);
    border: none;
    color: #fff;
    padding-top: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.footer{
    background-color: #313030;
    margin-top: 80px;
    padding: 100px 15%;
    display: flex;
    height: 300px;
    flex: 33.33%;
    color: #fff;
    border-radius: 2%;
}
#row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col{
    flex-basis: 33.33%;
    padding: 60px;
    font-size: 20px;
}
.footer div{
    text-align: center;

}
.footer-col2{
    flex-grow: 2;
}
.footer div h3{
    letter-spacing: 1.5px;
}
.footer-col1{
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
}
.icons{
    margin-top: 30px;

}
.icons a{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: #4309e1;
}


.about-header{

    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w2.jpg);
    height: 700px;
    background-position:top;
    background-size: cover;
    position: relative;
}
.about-story{
    width:80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 30px;
    line-break: normal;
    color: #3a3838;
    line-height: 40px;
}
.about-team{
    display: flex;
}
.team-column{
    flex: 33.33%;
    padding: 5px;
    text-align: center;
    padding-top: 20px;
}

.about-last{
    margin-top: auto;
    width: 100%;
    height: 1200px;
    padding-top: 150px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w123.jpg);
    background-position: left;
    background-size: cover;
    border-radius: 8%;
}

.about-last h3{
    padding-top: 90px;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    
}



.menu-header{

    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(p3.jpg);
    height: 700px;
    background-position:top;
    background-size: cover;
    position: relative;
}
.appetizer-menu{
    min-height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w4.jpg);
    background-position:bottom;
    background-size: cover;
    position: relative;
    opacity:75%
}
.appetizer-menu h1{
    text-align: center;
    padding-top: 100px;
    color: #c2bfbf;
    font-weight: normal;
    font-size: 50px;
}

.appetizer-column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height:auto; 
}
*{
    box-sizing: border-box;
}
.appetizer-row{
    background-color:#313030;
    
}

.appetizer-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .appetizer-column h3{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
  }
  .appetizer-column p{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
  }



  .maincourse-menu{
    min-height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w5.jpg);
    background-position:bottom;
    background-size: cover;
    position: relative;
    opacity:75%
}
.maincourse-menu h1{
    text-align: center;
    padding-top: 100px;
    color: #c2bfbf;
    font-weight: normal;
    font-size: 50px;
}

.maincourse-column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height:auto; 
}
*{
    box-sizing: border-box;
}
.maincourse-row{
    background-color:#313030;
    
}

.maincourse-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .maincourse-column h3{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
  }
  .maincourse-column p{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
  }



  .dessert-menu{
    min-height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w6.jpg);
    background-position:bottom;
    background-size: cover;
    position: relative;
    opacity:75%
}
.dessert-menu h1{
    text-align: center;
    padding-top: 100px;
    color: #c2bfbf;
    font-weight: normal;
    font-size: 50px;
}

.dessert-column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height:auto; 
}
*{
    box-sizing: border-box;
}
.dessert-row{
    background-color:#313030;
    
}

.dessert-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .dessert-column h3{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
  }
  .dessert-column p{
    color: #fff3f3;
    font-weight: normal;
    text-align: center;
  }





.contact-header{

    min-height: 100px;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(p123.jpg);
    height: 700px;
    background-position:top;
    background-size: cover;
    position: relative;
}



.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 95%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #5926e5;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #36bbf4;
    background:#36bbf4 ;
    transition: 1s;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #ccc ;
    box-sizing: border-box;
}
.contact-col{
    padding-top: 65px;
}
